---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reset Password - It's nice to travel">
  <div id="password-reset-page" data-page-type="password-reset"></div>
  
  <script src="../scripts/password-reset.ts"></script>
</Layout> 