---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile - It's nice to travel">
  <div id="profile-page" data-page-type="profile"></div>
  
  <script src="../scripts/profile.ts"></script>
</Layout> 