---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sign Up - It's nice to travel">
  <div id="signup-page" data-page-type="signup"></div>
  
  <script src="../scripts/signup.ts"></script>
</Layout> 