---
import Layout from "../../layouts/Layout.astro";
import PlansLayout from "../../components/plans/PlansLayout.astro";
---

<Layout title="Travel Plans">
  <PlansLayout>
    <div id="plan-list-view"></div>
  </PlansLayout>
</Layout>
