---
import Layout from "../../layouts/Layout.astro";
import PlansLayout from "../../components/plans/PlansLayout.astro";
---

<Layout title="New Travel Plan">
  <PlansLayout>
    <div class="space-y-6">
      <h1 class="text-3xl font-bold">New Travel Plan</h1>
      <div id="plan-form-wrapper" data-mode="create"></div>
    </div>
  </PlansLayout>
</Layout> 