---
import "../styles/global.css";
import type { HTMLAttributes } from "astro/types";
import { Toaster } from "../components/ui/toast";

export interface Props extends HTMLAttributes<"div"> {
  title?: string;
}

const { title = "It's nice to travel" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Modern web application built with Astro" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <Toaster client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
